
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white-bg);
}

.list {
    list-style: none;
}

.link,
.logo {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    /*max-width: 100%;
    height: auto;*/
}

button {
    cursor: pointer;
}

:root {
    --main-color: #FFFFFF;
    --dark-bg: #2E2F42;
    --light-bg: #F4F4FD;
    --white-bg: #FFFFFF;
    --primary-brand-color: #4D5AE5;
    --pressed-btn: #404BBF;
    --title-color: #2E2F42;
    --text-color: #434455;
    --filter-btn: #e7e9fc;
    --icon-logo: #8e8f99;
    --text-white: #FFFFFF;
    --text-overlay: #f4f4fd;
    --accent-color: #4D5AE5;
}

/*MOBILE*/
.container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 428px){
.container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
        }
}    

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*HEADER*/

/*0px 1157px*/
@media screen and (max-width: 1157px) {
    .contacts {
        display: none;
        }
}

/*0px 767px*/
@media screen and (max-width: 767px){
.menu {
    display: none;
}
}

.mobile-menu-open-btn {
    border: none;
    padding-left: 0;
    line-height: 0;
    background: #FFFFFF;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #2E2F42;
    border-radius: 50%;
    background-color: var(--filter-btn);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*a*/
.mobile-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list-item:hover,
.mobile-list-item:focus {
    color: var(--accent-color);
}

.mobile-list-item.current {
    color: var(--accent-color);
}

/*div*/
.mobile-contact-container {
    margin-top: auto;
}

/*address*/
.mobile-address {
    font-style: normal;
}

/*ul*/
.mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

/*a tel*/
.mobile-contact-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-brand-color);
}

/*a mail*/
.mobile-contact-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mobile-social-list {
    display: flex;
    gap: 25px;
}

@media screen and (min-width: 428px) {
    .mobile-social-list {
        gap: 56px;
    }
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-icon {
    fill: var(--main-color);
}

/*Header*/
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*ul*/
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}


/*768px*/
@media screen and (min-width: 768px) {
.mobile-menu-open-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

.page-header {
    padding-top: 16px;
    padding-left: 16px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu>.menu-item:not(:last-child) {
    margin-right: 40px;
}
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: 76px;
}

.logo-studio-header {
    color: #2E2F42;
}

/*Hero*/
.hero {
    background: var(--dark-bg);
    padding-top: 112px;
    padding-bottom: 112px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 432px;
    margin: auto auto;
}

@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mobile.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
.hero {
    background-image: llinear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mobile@2x.jpg);
}
    }

.title-hero {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 72px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    /*text-transform: capitalize;*/
}

/*.container-hero {
    margin-left: auto;
    margin-right: auto;
}*/

.button {
    cursor: pointer;
    background: var(--light-bg);
}

.modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    background: var(--primary-brand-color);
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    display: block;
    list-style: none;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--pressed-btn);
    cursor: pointer;
}

/*Backdrop-mobile*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-bottom: 8px;*/
    min-width: 300px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

@media screen and (min-width: 428px) {
    .modal {
        min-width: 392px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}

/*div-form*/
.modal-contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-wrapper {
    margin-bottom: 8px;
}

.text-form-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contact-form-field-wrapper {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-logo);
    margin-bottom: 4px;
}

/*div input+svg*/
.contact-form-input-wrapper {
    position: relative;
}

/*input*/
.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.contact-form-input:focus + .contact-form-input-icon {
    border-color: var(--accent-color);
}

/*svg*/
.contact-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*div comment*/
.comment-form-wrapper {
    position: relative;
    margin-bottom: 16px;
}

/*textarea*/
.contact-form-message {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    resize: none;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    border-color: var(--accent-color);
    outline: none;
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/*Checkbox*/

/*div*/
.modal-contact-form-checkbox {
    margin-bottom: 24px;
    position: relative;
}

/*label*/
.contact-form-checkbox-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--icon-logo);
}

/*input*/
.contact-form-checkbox {
    appearance: none;
    position: absolute;
}

/*span*/
.modal-contact-form-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    padding: 4px 3px;
}

/*svg*/
.contact-form-own-checkbox {
    cursor: pointer;
    fill: var(--text-overlay);
}

/*input:focus+ svg*/
.contact-form-checkbox:focus+.contact-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}


.privacy-policy {
    color: var(--accent-color);
    font-size: 12px;
    line-height: 1.33;
    text-decoration-line: underline;
    letter-spacing: 0.04em;
}

/*input:checked+ label> span*/
.contact-form-checkbox:checked+.contact-form-checkbox-wrapper>.modal-contact-form-policy {
    background-color: var(--pressed-btn);
    border: none;
    fill: var(--main-color);
    border-color: var(--accent-color);
}

/*Submit*/
.contact-form-submit {
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
    /*color: var(--primary-text-color-theme-dark);*/
    background-color: var(--accent-color);
}

/*Section two*/

/*section*/
.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
}

/*ul*/
.strategy-list {
    display: flex;
    gap: 72px;
}

/*div icon*/
.icon-wrapper {
    display: none;
}

/*h3*/
.title-strategy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
    text-align: center;
}

/*p*/
.text-strategy {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

@media screen and (max-width: 767px) {
.strategy-list {
    flex-direction: column;
    align-items: center;
    }

.text-strategy {
    text-align: center;
    font-weight: 500;
    }
}

/*Section three*/
/*section*/
.service {
    display: none;
}

/*Section four*/
/*section*/
.team {
    background-color: var(--light-bg);
}

.team-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*h2*/
.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    padding: 0px;
    margin: 0px;
    margin-bottom: 72px;
}

/*ul*/
.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

/*li*/
.team-list-item {
    background-color: var(--white-bg);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/*div card*/
.container-card {
    padding: 32px 0;
}

/*h3*/
.team-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
    text-align: center;
}

/*p*/
.card-content {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
    text-align: center;
}

/*ul*/
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/*a*/
.social-list-link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

/*Section five*/

/*h2*/
.title-customers {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

/*ul*/
.customers-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

/*a*/
.customers-logo-link {
    width: 190px;
    height: 88px;
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--icon-logo);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link:hover,
.customers-logo-link:focus {
    border-color: #404BBF;
    color: #404BBF;
}

/*svg*/
.customers-logo-icon {
    fill: currentColor;
}

/*Footer*/

.footer-content {
    background-color: var(--dark-bg);
    padding-top: 96px;
    padding-bottom: 0;
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-wrapper {
            display: flex;
        }
} 

.footer-wrapper {
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-wrapper {
        width: 552px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
} 

@media screen and (min-width: 1158px) {
    
.footer-left-side {
    margin-right: 120px;
}
}

.logo-footer {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    display: block;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .logo-footer {
        text-align: center;
    } 
}

.logo-studio-footer {
    color: #F4F4FD;
}

/*p*/
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    margin-bottom: 16px;
}

/*p right*/
.footer-right-side-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-white);
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .footer-right-side-title {
        text-align: center;
    }
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-list-footer-link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
    background-color: #31d0aa;
}

.social-list-footer-icon {
    fill: var(--light-bg);
}

/*p*/
.subscribe-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-white);
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .subscribe-form-title {
        text-align: center;
    }
}

/*form*/
.subscribe-wrapper {
    display: flex;
}

@media screen and (max-width: 767px) {
    .subscribe-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
}

/*input*/
.subscribe-form-input {
    width: 280px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white-bg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    /*outline: none;*/
}

.subscribe-form-input::placeholder {
    color: #FFFFFF;
}


@media screen and (min-width: 428px) {
    .subscribe-form-input {
        width: 396px;
    }
}

@media screen and (min-width: 767px) {
    .subscribe-form-input {
            width: 264px;
        }
}

.subscribe-form-input:hover,
.subscribe-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
    background-color: transparent;
}

/*button*/
.btn-subscribe {
    display: flex;
    min-width: 165px;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: var(--pressed-btn);
}


/*svg*/
.subscribe-send-icon {
    margin-left: 16px;
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover+ .subscribe-send-icon,
.btn-subscribe:focus+ .subscribe-send-icon {
    fill: rgb(255 255 255);
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-text {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .subscribe-container {
        margin-left: 80px;
    }
}



/*tablet*/
/*@media screen and (min-width: 768px) and (max-width: 1157px){
    .container {
        width: 768px;
    }
}*/

/*desktop*/
/*@media screen and (min-width: 1158px){
    .container {
        width: 1158px;
    }
}*/



/*tablet*/
/*@media screen and (min-width: 768px) {
.banner {
        background-image: url('./styles.css/images/tablet.png')
    }
}*/

/*768px + 2x*/
/*@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .banner {
        background-image: url('./styles.css/images/tablet2x.png');
    }
}*/

/*desktop*/
/*@media screen and (min-width: 1200px) {
    .banner {
        background-image: url('./styles.css/images/desktop.png')
    }
}*/

/*1200px + 2x*/
/*@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .banner {
        background-image: url('./styles.css/images/desktop2x.png');
    }
}*/